.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(0);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1),
    0px 8px 53px rgba(0, 120, 240, 0.25);
  border-radius: 10px;
  padding: 9.5rem 2.4rem 6rem;
  width: 95vw;
  max-width: 59rem;
  animation: open 200ms ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transform-origin: center center;
}

@keyframes open {
  0% {
    transform: translate(-50%, -50%) scaleY(0);
  }
  100% {
    transform: translate(-50%, -50%) scaleY(1);
  }
}
.container > .icon {
  position: absolute;
  top: 0rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 120, 240, 0.02);
  box-shadow: 0px 4px 4px rgba(0, 120, 240, 0.05);
  font-size: 2.5rem;
  color: #0078f0;
  width: 10rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > h1 {
  font-size: 2.6rem;
  line-height: 3.1rem;
  text-align: center;
  color: rgba(0, 120, 240, 0.5);
  font-weight: 500;
  margin-bottom: 5rem;
}

.container > .info {
  font-size: 1.8rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 3.5rem;
}

.container > form {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin-bottom: 3rem;
}

.container > form > p {
  text-align: center;
  color: rgb(243, 49, 49);
  font-size: 1.4rem;
}

.container > form > .img {
  width: 100%;
  max-width: 29rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.container > form > .img > img {
  height: 3.6rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}
.container > form > .img > input {
  display: none;
}
.container > form > .img > label {
  flex: 1;
  cursor: pointer;
  text-align: center;
  background-color: #0078f0;
  padding: 0.8rem 1.6rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

.container > form > button {
  width: 100%;
  max-width: 29rem;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  background: rgba(0, 120, 240, 0.1);
  border: 1px solid #0078f0;
  border-radius: 10px;

  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  color: #0078f0;
  padding: 1.6rem 2.4rem;
}

.container > .dont {
  font-size: 1.2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.container > .dont > a {
  font-size: 1.2rem;
  text-align: center;
  color: rgba(0, 120, 240, 0.5);
}

.container > .dont > a:hover {
  font-size: 1.2rem;
  text-align: center;
  color: rgba(0, 120, 240, 1);
}
